version: "3.9"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8088:8080" 
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - ./jenkins:/var/jenkins_config

volumes:
  jenkins_data:
    driver: local
